<?xml version="1.0" encoding="UTF-8"?>
<!-- default-autowire="autodetect" -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- default-autowire-candidates="*" default-autowire="byName" -->
	<context:component-scan base-package="entities,services,dao,presentation" />
	<context:annotation-config />



<!-- 	<bean id="person" class="entities.Person" autowire="byName" scope="prototype" /> -->

<!-- 	<bean id="personVALUED" class="entities.Person" autowire="byName" -->
<!-- 		scope="prototype"> -->
<!-- 		<property name="age" value="18"></property> -->
<!-- 	</bean> -->

<!-- 	<bean id="bar" class="com.my.BarClass" autowire="byName" scope="singleton" /> -->

<!-- 	 +++++ --> 
<!-- 	<bean id="main" class="services.Main" scope="singleton" /> -->

<!-- 	<bean id="personDAO" class="dao.PersonDAO" scope="singleton" /> -->

<!-- 	<bean id="personneServiceImpl" class="services.PersonneServiceImpl" -->
<!-- 		scope="singleton" /> -->

<!-- 	<bean id="eventVALUED1" class="dao.Event" scope="prototype"> -->
<!-- 		<property name="title" value="Our very first eventVALUED1!"></property> -->

<!-- 	</bean> -->
<!-- 	<bean id="eventVALUED2" class="dao.Event" scope="prototype"> -->
<!-- 		<property name="title" value="A follow up eventVALUED1"></property> -->

<!-- 	</bean> -->
</beans>
  
